<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />


    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
<!--        android:theme="@style/Theme.ElectricVehicleManagement"-->
<!--        tools:targetApi="31">-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAbHHTY6Fp-RrA1Evwd_CGk8BChpFCshC4"/>

        <activity
            android:name=".VehicleMonitorActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileSelection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VehicleProfileSetup"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />

        <service
            android:name=".service.VehicleMonitorService"
            android:enabled="true"
            android:exported="true"
            />

    </application>

</manifest>